body {
	background-color: #ffcc99;
	font-family: "Garamond";
	text-align: center;
}

header,
footer {
	background-color: darkgreen;
	color: white;
	padding: 30px;
	font-size: 140%;
}

nav {
	background-color: mediumseagreen;
	word-spacing: 90px;
	padding: 20px;
}

.lewa {
	float: left;
	width: 70%;
	height: 500px;
}

.prawa {
	float: left;
	background-color: mediumseagreen;
	width: 30%;
	height: 500px;
	text-align: left;
}

footer {
	clear: both;
}

table {
	border: 1px dashed darkgreen;
	margin: 30px auto;
}

table td,
table th {
	padding: 5px;
}

a {
	color: white;
}

ul {
	list-style-type: circle;
}

table tr:hover {
	background-color: darkgreen;
	color: white;
}
